
<%- include("header") -%>
    <header>
        <div class="banner">
            <div class="container">
                <h1 class="banner-title">
                    <span>Travel. Life.</span>
                </h1>
                <p>Explore the magical places in Nepal.</p>
                <form method="#">
                    <input type="text" class="search-input" placeholder="Where to?">
                    <button type="submit" class="home-search-btn my-2">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </header>
    <!-- end of header -->


    <!-- blog -->
    <section class="blog" id="blog">
        <div class="container">
            <div class="title">
                <h2>Latest Blog</h2>
                <p>Recent Blogs Aubot Travel Sites by Guides</p>
            </div>
            <div class="blog-content">

                <% data.forEach((site)=>{ %>
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="images/swayambhunath.jpg" alt="">
                        </div>
                        <div class="blog-text">
                            <span><%= site.site.created %></span>
                            <h2>
                                <%= site.site.name %>
                            </h2>
                            <p>
                                <%= site.site.description %>
                            </p>
                            <a href="/detail/<%= site.site_id%>">Read More</a>
                        </div>
                        
                    </div>
                <% }) %>
            </div>
        </div>
    </section>
    <!-- end of blog -->

    <%- include("footer") -%>

        <a href="auth/tourist_register">Register User</a>