<!-- <!DOCTYPE html>
<a href='/auth/logout' >Logout</a>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <link rel="stylesheet" href="/style.css">
    <h1>Home Page</h1>
    <h3>Under construction</h3>
    <a href = "auth/tourist_register">Register User</a>
    
    
    <% siteinfo.forEach((site) =>{ %> 
        <div class = "blog-item">
            <div class = "blog-img">
            <img src = "images/swayambhunath.jpg" alt = "">
            </div>
            <div class = "blog-text">
            <span>20 January, 2020</span>
            <h2><%= site.name %></h2>
            <p><%= site.description %></p>
            <a href = "#">Read More</a>
            </div> 
    <% })  %>
    

</body>
</html>
 -->



<!-- this is upper part -->




<%- include("header") -%>
    <header>
        <div class="banner">
            <div class="container">
                <h1 class="banner-title">
                    <span>Travel. Life.</span>
                </h1>
                <p>Explore the magical places in Nepal.</p>
                <form action="/search_result" method="POST">
                    <input type="text" class="search-input" placeholder="Where to?" name = "body">
                    <button type="submit" class="home-search-btn my-2">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </header>
    <!-- end of header -->


    <!-- blog -->
    <section class="blog" id="blog">
        <div class="container">
            <div class="title">
                <h2>Popular Sites</h2>
            </div>
            <div class="blog-content">

                <% siteinfo.forEach((site)=>{ %>
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="images/swayambhunath.jpg" alt="">
                        </div>
                        <div class="blog-text">
                            <span><%= site.created %></span>
                            <h2>
                                <%= site.name %>
                            </h2>
                            <p>
                                <%= site.description.substring(0,300) %>
                            </p>
                            <a href="/detail/<%= site.site_id%>">Read More</a>
                        </div>
                        
                    </div>
                <% }) %>
            </div>
        </div>
    </section>
    <!-- end of blog -->

    <%- include("footer") -%>

        <a href="auth/tourist_register">Register User</a>