<%- include("header") -%> 

<h1 class="search-header">Search Results</h1>


<div class="container-fluid search-res">

    <div class="row row-cols-1 row-cols-md-2">
      <% site.forEach((s) =>{ %> 
        
        <div class="col mb-4">
          <div class="card">
            <img src="images/garden.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=s.name%></h5>
              <p class="card-text"><%= s.description.substring(0,200) %></p>
              <a href="/detail/<%= id.site_id %>" class="card-link">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <% })  %>

</div>




<%- include("footer") -%>